@charset "UTF-8";
/* Base
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "Droid Sans", 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Arial, sans-serif;
}

body {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: #171717;
  word-wrap: break-word;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f8f9f9;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Text
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#page {
  font-size: 14px;
  font-size: 1.4rem;
}

#media-nav-box {
  font-size: 12px;
  font-size: 1.2rem;
}

#global-nav-box {
  font-size: 16px;
  font-size: 1.6rem;
}

.entry-content {
  font-size: 15px;
  font-size: 1.5rem;
}

/* link color
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
a {
  color: #404040;
  text-decoration: none;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}
a:hover {
  color: #417fec;
  text-decoration: underline;
}
.author-name a {
  color: #262626;
}
.posted-in-category a, .posted-in-tags a {
  color: #999;
}
.page-nation a {
  color: #F9C414;
}

/* Layout
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#footer {
  color: #fff;
  margin-top: 16px;
  background: #000;
  padding: 17px 16px;
}

/* Header
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#masthead {
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 16px 0;
  background: #073667;
  position: relative;
  z-index: 2;
}
#masthead .site-title {
  width: 132px;
  height: 24px;
  margin: 0 0 0 72px;
}
#masthead .site-title a {
  margin: 0 auto;
  display: block;
}
#masthead .site-title img {
  display: block;
}

#header-nav-box p {
  width: 52px;
  height: 52px;
  text-align: center;
  color: white;
  margin: 0;
  position: absolute;
  top: 1px;
}
#header-nav-box p.header-menu-button {
  left: 1px;
}
#header-nav-box p.header-widget-button {
  right: 1px;
}
#header-nav-box p i {
  width: 24px;
  height: 24px;
  font-size: 22px;
  font-size: 2.2rem;
  position: absolute;
  top: 16px;
  left: 16px;
}

#global-menu {
  width: 82.5%;
  background: #F9C414;
}
#global-menu li {
  margin-bottom: 20px;
}

/* Common
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.posted-in-category,
.posted-in-tags {
  font-size: 12px;
  font-size: 1.2rem;
  color: #999;
  margin: 0 10px 0 0;
  display: inline-block;
}
.posted-in-category a,
.posted-in-tags a {
  margin-left: 5px;
}

.page-nation {
  font-size: 22px;
  font-size: 2.2rem;
  margin-top: 14px;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 16px;
  background: #073667;
}
.page-nation p {
  margin: 0;
}
.page-nation p.prev {
  float: left;
}
.page-nation p.next {
  float: right;
}

/* HOME
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Archive
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
article.archive,
article.single,
article.page {
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 14px;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 16px;
  background: #fff;
  overflow: hidden;
}
article.archive .entry-header-meta .author-avatar,
article.single .entry-header-meta .author-avatar,
article.page .entry-header-meta .author-avatar {
  width: 46px;
  margin: 0;
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  overflow: hidden;
  float: left;
}
article.archive .entry-header-meta .author-avatar img,
article.single .entry-header-meta .author-avatar img,
article.page .entry-header-meta .author-avatar img {
  display: block;
}
article.archive .entry-header-meta .author-name,
article.archive .entry-header-meta .entry-date,
article.single .entry-header-meta .author-name,
article.single .entry-header-meta .entry-date,
article.page .entry-header-meta .author-name,
article.page .entry-header-meta .entry-date {
  width: 100%;
  margin: 0 -62px 0 0;
  padding: 0 62px 0 0;
  float: right;
}
article.archive .entry-header-meta .author-name,
article.single .entry-header-meta .author-name,
article.page .entry-header-meta .author-name {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
article.archive .entry-header-meta .entry-date,
article.single .entry-header-meta .entry-date,
article.page .entry-header-meta .entry-date {
  font-size: 12px;
  font-size: 1.2rem;
  color: #999;
}
article.archive .thumbnail,
article.single .thumbnail,
article.page .thumbnail {
  text-align: center;
  margin-top: 15px;
}
article.archive .thumbnail a,
article.single .thumbnail a,
article.page .thumbnail a {
  display: inline-block;
}
article.archive .thumbnail img,
article.single .thumbnail img,
article.page .thumbnail img {
  display: block;
}
article.archive .entry-title,
article.single .entry-title,
article.page .entry-title {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 15px 0 0;
}
article.archive .posted-in-category,
article.single .posted-in-category,
article.page .posted-in-category {
  color: #707070;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 5px 10px 8px 0;
  display: inline-block;
}
article.archive .entry-summary p,
article.single .entry-summary p,
article.page .entry-summary p {
  margin-bottom: 0;
}

/* Single
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
article.single .entry-date,
article.page .entry-date {
  margin: 15px 0 0;
}

/* Page
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#copyright {
  margin: 0;
}
#copyright small {
  font-size: 12px;
  font-size: 1.2rem;
}

/* Other
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#loading-bar .bar {
  height: 5px;
  border-bottom: 2px #073667 solid;
  background: #F9C414;
}
#loading-bar .peg {
  -moz-box-shadow: #F9C414 1px 0 6px 1px;
  -webkit-box-shadow: #F9C414 1px 0 6px 1px;
  box-shadow: #F9C414 1px 0 6px 1px;
}

/* Action
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.no-scroll {
  height: 100%;
  overflow: hidden;
  position: fixed;
}

#global-menu {
  -moz-transition: left 250ms linear;
  -o-transition: left 250ms linear;
  -webkit-transition: left 250ms linear;
  transition: left 250ms linear;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
}
#global-menu.side-nav-close {
  left: -82.5%;
}
#global-menu.side-nav-open {
  overflow: auto;
  left: 0;
}

#secondary {
  width: 82.5%;
  background: #fff;
  -moz-transition: right 250ms linear;
  -o-transition: right 250ms linear;
  -webkit-transition: right 250ms linear;
  transition: right 250ms linear;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
}
#secondary.widget-area-close {
  right: -82.5%;
}
#secondary.widget-area-open {
  overflow: auto;
  right: 0;
}

#overlay.close {
  display: none;
}
#overlay.open-menu, #overlay.open-widget {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

/*
 * WordPress Core
 * http://codex.wordpress.org/CSS
 */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.page-nation:after, article.archive:after,
article.single:after,
article.page:after, article.archive .entry-header-meta:after,
article.single .entry-header-meta:after,
article.page .entry-header-meta:after {
  display: table;
  clear: both;
  content: "";
}

/*# sourceMappingURL=style.css.map */
